<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <%- include('partials/head', { title: title }) %>
</head>
<body>
    <div class="container">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3><%= title %></h3>
                <%- include('reset-confirm-content', { valid: valid, token: token, messages: messages }) %>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
